/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  body {
    width: 100%; /* This */
    overflow-x: hidden; /* And This will hide the horizontalscroll bar*/

  }
/*    Nav bar */
    .sticky-top{
        position: fixed;
        top: 0;
        width: 100%;
    }
    .navbar-collapse{
        margin-top: -1px;
    }
/*    Nav bar */
    
/*    Video */
    .height-bg{
        max-height: 675px;
    }
    .height-bg a{
        margin-right: -50px;

    }
    .height-bg img{
        margin-top: -50px;
    }
    .sp-car{
        margin-top: -50px;
        margin-right: -20px;
    }
    .sp-car2{
        margin-top: -50px;
        margin-right: -20px;
    }
    .sp-car3{
        margin-top: -50px;
        margin-right: -20px;
    }
    .height-bg h2{
        margin-right: -55px;
    }
    .height-bg h3{
        margin-right: -55px;
    }
    .right{
        margin-right: -70px;
    }
    .right1{
        margin-right: -70px;
    }
    .right2{
        margin-right: -70px;
    }
    .right3{
        margin-right: -70px;
    }
/*    Video */
    
/*    TV Logo */
    .p-right img{
        margin-left: 99px;
        padding: 10px;

    }
    .button-center a{
        margin-left: 65px;
    }
    .button-center{
        margin: 0 100px 0 400px;
    }
    .input-form-input input{
        margin-left: -15px;
    }
    .input-form-button button{
        margin-left: 50px;
    }
    .text-paragraph h1{
        right:220px;
        font-size: 50px;
    
    }
    .right-text1{
        right:370px;
        font-size: 20px;
    }
    .right-text2{
        right:365px;
        font-size: 20px;
    }
    .right-text3{
        right:380px;
        font-size: 20px;
    }
    .right-text4{
        right:540px;
        font-size: 20px;
    }
/*    TV Logo */
    
/*    PC 2020 */
    .pc-h4 h4{
        margin: 100px 0 0 -130px;
    }
/*    PC 2020 */

/* Learn more */
    .learn-more h1{
        margin-right: -50px;
    }
    .learn-more p{
        margin-right: -50px;
    }
    .learn-button{
        margin: 230px 50px 0 460px;
    }
/*    Learn more */
    
/*    Network channel */
    .small-text-pra p{
        font-size: 14px;
        margin-left: 40px;
    }
    .net-logo-number3{
        margin-left: 200px;
    }
    .net-logo-number3 img{
        margin-left: 215px;
    }
    .net-logo-number4 img{
        margin-left: 105px;
    }
    .net-logo-number4 p{
        margin-left: 110px;
    }
/*    Network channel */
    
/*    Get start */
    .get-bu-center{
        margin: 20px 200px 0 485px;
    }
/*    Get start */
    
/*    TV for you */
    .tv-for-you h1{
        margin-left: -30px;
    }
    .tv-letter{
        margin-left: -30px;
    }
    .tv-text{
        margin-left: -20px;
    }
    .tv-for-you p{
        margin-left: -20px;
    }
    .tv-image img{
        width: 700px;
        margin-left: -120px;
    }
/*    TV for you */
    
/*    Footer */
    .float-left-logo svg{
        margin-left: -10px;
        margin-top: 5px;
    }
}



/* laptop - 1024px */
@media only screen and (max-width: 1024px){
    
      /*    Video */
    .height-bg{
        max-height: 570px;
    }
   .height-bg a{
        margin-right: -150px;

    }
    .height-bg img{
        margin-top: -140px;
        width: 85px;
        margin-right: -30px;
    }
    .sp-car{
        margin-top: -140px;
        margin-right: -30px;
        font-size: 16px;
        
    }
    .sp-car2{
        margin-top: -140px;
        margin-right: -35px;
        font-size: 16px;
        
    }
    .sp-car3{
        margin-top: -140px;
        margin-right: -30px;
        font-size: 16px;
        
    }
    .height-bg h2{
        margin-right: -50px;
        font-size: 40px;
    }
    .height-bg h3{
        margin-right: -50px;
        font-size: 40px;
    }
    .right{
        margin-top: -65px;
        margin-right: -150px;
        font-size: 20px;
    }
    .right1{
        margin-top: -75px;
        margin-right: -15px;
        font-size: 20px;
    }
    .right2{
        margin-top: -75px;
        margin-right: -20px;
        font-size: 20px;
    }
    .right3{
        margin-top: -75px;
        margin-right: -40px;
        font-size: 20px;
    }
/*    Video */
    
      /*    TV Logo */
    .p-right img{
        margin-left: 70px;
        padding: 15px;

    }
    .button-center{
        margin: 0 100px 0 390px;
    }
    .button-center a{
        font-size: 15px;
        margin-left: 5px;
    }
    .input-form-input input{
        margin-left: 15px;
    }
    .input-form-button button{
        margin-left: 75px;
    }
   .text-paragraph h1{
        right:220px;
        font-size: 40px;
    
    }
    .right-text1{
        right:310px;
        font-size: 17px;
    }
    .right-text2{
        right:305px;
        font-size: 17px;
    }
    .right-text3{
        right:320px;
        font-size: 17px;
    }
    .right-text4{
        right:455px;
        font-size: 17px;
    }
/*    TV Logo */
    
    /* Input from and button style */
    .input-form-input{
        left: -90px;
    }
    /* Input from and button style */

    
    /*    PC 2020 */
    .pc-image img{
        width: 80px;
        margin-left: 250px;
    }
    .pc-h4 h4{
        margin: 100px 0 0 -150px;
        font-size: 25px;
    }
/*    PC 2020 */
    
    /* Learn more */
    .learn-more h1{
        font-size: 35px;
    }
    .learn-more p{
        font-size: 17px;
        margin-right: -60px;
    }
    .learn-button{
        margin: 230px 50px 0 390px;
        
    }
    .learn-button a{
        font-size: 15px;
        
    }
/*    Learn more */

/*    Favorite channels */
    .favorite-ch h4{
        font-size: 25px;
    }
/*    Favorite channels */
    
/*    Card */
    .card-header{
        padding: 10px;
    }
    .card-header svg{
        width: 40px;
        margin-bottom: -1px;
    }
    .bg-card span{
        font-size: 19px;
    }
    .card-header p{
        font-size: 20px;
    }
    .card-header span{
        font-size: 19px;
        margin-bottom: -12px;
    }
    .card-header h{
        font-size: 25px;
    }
    .card-footer p{
        margin-bottom: 42px;
    }
    .move-card-nl{
        height: 6px;
    }
/*    Card */
    
/*    Network channel */
    .small-text-pra{
        margin-left: 50px;
    }
    .net-logo img{
        padding: 6px;
    }
    .net-logo-number3 img{
        padding: 6px;
        margin-left: 190px;
    }
    .net-logo-number4 img{
        padding: 8px;
        margin-left: 95px;
    }
    .net-logo-number4 p{
        margin-left: 105px;
    }
    .net-work-text h1{
        font-size: 35px;
    }
    .net-work-text p{
        font-size: 15px;
        width: 90%;
    }
    .get-bu-center{
        margin-left: 399px;
    }
/*    Network channel */

/*    TV made for you */
    .tv-for-you h1{
        font-size: 35px;
        margin-left: 30px;
        margin-right: 90px;
    }
     .tv-for-you h4{
        font-size: 17px;
        margin-left: -10px;
    }
     .tv-for-you p{
        font-size: 17px;
        
    }
    .tv-image img{
        width: 130%;
        
    }
    .tv-letter{
        margin-right: 60px;
    }
    /*    TV made for you */

/*    Footer */
    .float-left-logo span{
        font-size: 16px;
    }
    .float-left-logo svg{
        padding: 1px;
        margin-top: -10px;
    }
     .float-left-logo{
        margin-top: 15px;
    }
.float-left-logo svg{
    margin-left: -10px;
    margin-top: 5px;
}
/*    Footer */

}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
 
  body,
  html {
    width: 100%; /* This */
    overflow-x: hidden; /* And This will hide the horizontalscroll bar*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*    Nav bar */
    .navbar-expand-sm a{
        font-size: 13px;
    }
    .ml-auto button{
        font-size: 13px;
    }
/*  Nav bar */
    
    /*    Video */
    .height-bg{
        max-height: 570px;
    }
   .height-bg a{
        margin-right: -150px;

    }
    .height-bg img{
        margin-top: -140px;
        width: 85px;
        margin-right: -30px;
    }
    .sp-car{
        margin-top: -140px;
        margin-right: -30px;
        font-size: 16px;
        
    }
    .sp-car2{
        margin-top: -140px;
        margin-right: -35px;
        font-size: 16px;
        
    }
    .sp-car3{
        margin-top: -140px;
        margin-right: -30px;
        font-size: 16px;
        
    }
    .height-bg h2{
        margin-right: -50px;
        font-size: 40px;
    }
    .height-bg h3{
        margin-right: -50px;
        font-size: 40px;
    }
    .right{
        margin-top: -65px;
        margin-right: -150px;
        font-size: 20px;
    }
    .right1{
        margin-top: -75px;
        margin-right: -15px;
        font-size: 20px;
    }
    .right2{
        margin-top: -75px;
        margin-right: -20px;
        font-size: 20px;
    }
    .right3{
        margin-top: -75px;
        margin-right: -40px;
        font-size: 20px;
    }
/*    Video */
    
    /*    TV Logo */
    .p-right img{
        margin-left: 70px;
        padding: 15px;

    }
    .button-center{
        margin: 0 100px 0 390px;
    }
    .button-center a{
        font-size: 15px;
        margin-left: 5px;
    }
    .input-form-input input{
        margin-left: 15px;
    }
    .input-form-button button{
        margin-left: 75px;
    }
   .text-paragraph h1{
        right:220px;
        font-size: 40px;
    
    }
    .right-text1{
        right:310px;
        font-size: 17px;
    }
    .right-text2{
        right:305px;
        font-size: 17px;
    }
    .right-text3{
        right:320px;
        font-size: 17px;
    }
    .right-text4{
        right:455px;
        font-size: 17px;
    }
/*    TV Logo */
    
    /* Input from and button style */
    .input-form-input{
        left: -90px;
    }
    /* Input from and button style */

    
    /*    PC 2020 */
    .pc-image img{
        width: 80px;
        margin-left: 250px;
    }
    .pc-h4 h4{
        margin: 100px 0 0 -150px;
        font-size: 25px;
    }
/*    PC 2020 */
    
    /* Learn more */
    .learn-more h1{
        font-size: 35px;
    }
    .learn-more p{
        font-size: 17px;
        margin-right: -60px;
    }
    .learn-button{
        margin: 230px 50px 0 390px;
        
    }
    .learn-button a{
        font-size: 15px;
        
    }
/*    Learn more */

/*    Favorite channels */
    .favorite-ch h4{
        font-size: 25px;
    }
/*    Favorite channels */
    
/*    Card */
    .card-header{
        padding: 10px;
    }
    .card-header svg{
        width: 40px;
        margin-bottom: -1px;
    }
    .bg-card span{
        font-size: 19px;
    }
    .card-header p{
        font-size: 20px;
    }
    .card-header span{
        font-size: 19px;
        margin-bottom: -12px;
    }
    .card-header h{
        font-size: 25px;
    }
    .card-footer p{
        margin-bottom: 42px;
    }
    .move-card-nl{
        height: 6px;
    }
/*    Card */
    
/*    Network channel */
    .small-text-pra{
        margin-left: 50px;
    }
    .net-logo img{
        padding: 6px;
    }
    .net-logo-number3 img{
        padding: 6px;
        margin-left: 190px;
    }
    .net-logo-number4 img{
        padding: 8px;
        margin-left: 95px;
    }
    .net-logo-number4 p{
        margin-left: 105px;
    }
    .net-work-text h1{
        font-size: 35px;
    }
    .net-work-text p{
        font-size: 15px;
        width: 90%;
    }
    .get-bu-center{
        margin-left: 399px;
    }
/*    Network channel */

/*    TV made for you */
    .tv-for-you h1{
        font-size: 35px;
        margin-left: 30px;
        margin-right: 90px;
    }
     .tv-for-you h4{
        font-size: 17px;
        margin-left: -10px;
    }
     .tv-for-you p{
        font-size: 17px;
        
    }
    .tv-image img{
        width: 130%;
        
    }
    .tv-letter{
        margin-right: 60px;
    }
    /*    TV made for you */

/*    Footer */
    .float-left-logo span{
        font-size: 16px;
    }
    .float-left-logo svg{
        padding: 1px;
        margin-top: -10px;
    }
     .float-left-logo{
        margin-top: 15px;
    }
.float-left-logo svg{
    margin-left: -10px;
    margin-top: 5px;
}
/*    Footer */


}


/* Tablet 768px */
@media only screen and (max-width: 768px){
    
/*    Navbar */
    .navbar-expand-md a{
        font-size: 14px;

    }
    .navbar-brand img{
        padding: 5px;
    }
    .navbar-nav a{
        
    }
    .navbar-nav button{
        padding: 0.3rem;
    }
    /*    Navbar */
    
 /*    Video */
    .height-bg{
        max-height: 431px;
    }
    .height-bg h2{
        margin-right: -150px;
        font-size: 35px;
    }
    .height-bg h3{
        margin-right: -150px;
        font-size: 35px;
    }
     .right{
        margin-top: -110px;
        margin-right: -250px;
        font-size: 15px;
    }
    .right1{
        margin-top: -140px;
        margin-right: -57px;
        font-size: 15px;
    }
    .right2{
        margin-top: -165px;
        margin-right: -77px;
        font-size: 15px;
    }
    .right3{
        margin-top: -190px;
        margin-right: -120px;
        font-size: 15px;
    }
    .height-bg a{
        margin-top: -50px;
        margin-right: -250px;
    }
    .height-bg img{
        margin-top: -280px;
        margin-right: -30px;
    }
    .sp-car{
        margin-top: -280px;
        margin-right: -60px;
    }
    .sp-car2{
        margin-top: -280px;
        margin-right: -70px;
    }
    .sp-car3{
        margin-top: -280px;
        margin-right: -50px;
    }
    .up{
        font-size: 7px;
    }
/*    Video */
    


   /*    PMC 2020*/
    .pc-image{
        margin-left: -50px;
    }
    .pc-h4 h4{
        font-size: 25px;
        margin-left: -40px;
        
    }
/*    PMC 2020*/

    
    /*    TV Logo */
    .p-right img{
        padding: 20px;
        margin-left: -1px;
        margin-left: 19px;
    }
    .button-center{
        margin-left: 265px;
        margin-top: -30px;
    }
    .text-paragraph h1{
        font-size: 30px;
        margin-right: -60px;;
    }
    .text-paragraph p{
        font-size: 15px;
        margin-right: -100px;
        margin-top: -30px;
    }
    .input-form-input{
        margin-left: -30px;
        margin-top: -20px;
    }
    .input-form-button{
        margin-left: 220px;
        margin-top: -155px;
        
    }
    .well{
        height: 850px;
    }
    /*    TV Logo */
    
    /*    Learn more */
    .learn-more h1{
        font-size: 30px;
        margin-top: -30px;
        left: 150px;
        right: 0;
 
    }
     .learn-more p{
        font-size: 15px;
        margin-top: -30px;
        left: 150px;
        right: 0;
 
    }
    .learn-text1{
        margin-left: 30px;
        top: 130px;
    }
    .learn-text2{
        margin-left: 70px;
        top: 160px;
    }
    .learn-text3{
        margin-left: 100px;
        top: 190px;
    }
    .learn-button{
        margin-left: 260px;
        margin-top: 100px;
    }
    .learn-more{
        height: 250px;
    }
    /*    Learn more */

    /*    Card */
    .move-card1{
        margin-left: -5px;
        width: 310px;
    }
    .move-card2{
        margin-left: 120px;
        width: 340px;
    }
    .move-card2
    .move-card-dnt{
       margin-bottom: 19px;
    }
    .move-card3{
        margin-top: 840px;
        width: 320px;
        margin-left: -310px;
    }
    .move-card-nl{
        height: 2rem;
    }
/*    Card */
    
    /*    Network */
    .network-text{
        height: 610px;
    }
    .small-text-pra p{
        margin-left: -20px;
    }
    .network-text img{
        padding: 15px;
        margin-left: -25px;
        margin-top: -10px;
    }
    .net-logo-number3-3 img{
        margin-left: 90px;
        margin-top: -50px;
    }
    .net-logo-number4 img{
        margin-left: 10px;
    }
    .net-logo-number4 p{
        margin-left: 15px;
        font-size: 15px;
        margin-top: -10px;
    }
/*    Network */
    
    /*    Get start */
    .get-bu-center{
        margin-left: 17rem;
    }   
/*    Get start */
    
/*    TV for you */
    .tv-bg-for-you{
        height: 30rem;
    }
    .tv-for-you h1{
        font-size: 25px;
        margin-top: -3rem;
    }
     .tv-for-you h4{
        font-size: 15px;
         margin-right: 0;
    }
    .tv-image img{
        margin-left: -60px;
        margin-top: 4rem;
    }
    .tv-for-you
    .tv-letter{
        margin-left: -3rem;
    }
    .tv-for-you p{
        font-size: 1rem;
        margin-right: 0;
    }
    .tv-for-you a{
        margin-top: 2rem;
        font-size: 15px;
        margin-left: -9rem;
    }
    /*    TV for you */
    
    /* Footer */
    .footer-p-ing1{
        margin-left: -10px;
    }
    .footer-p-ing2{
        margin-left: -3rem;
        
    }
    .ytv-footer__main-sitemap{
        width: 50rem;
    }
    .float-left-logo svg{
        margin-left: 5rem;
    }
/*    Footer */
}

/* Small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width: 767px) {
    
  /*    Video */
    .height-bg{
        max-height: 431px;
    }
    .height-bg h2{
        margin-right: -150px;
        font-size: 35px;
    }
    .height-bg h3{
        margin-right: -150px;
        font-size: 35px;
    }
     .right{
        margin-top: -110px;
        margin-right: -250px;
        font-size: 15px;
    }
    .right1{
        margin-top: -140px;
        margin-right: -57px;
        font-size: 15px;
    }
    .right2{
        margin-top: -165px;
        margin-right: -77px;
        font-size: 15px;
    }
    .right3{
        margin-top: -190px;
        margin-right: -120px;
        font-size: 15px;
    }
    .height-bg a{
        margin-top: -50px;
        margin-right: -250px;
    }
    .height-bg img{
        margin-top: -280px;
        margin-right: -30px;
    }
    .sp-car{
        margin-top: -280px;
        margin-right: -60px;
    }
    .sp-car2{
        margin-top: -280px;
        margin-right: -70px;
    }
    .sp-car3{
        margin-top: -280px;
        margin-right: -50px;
    }
    .up{
        font-size: 7px;
    }
/*    Video */
    
/*    TV Logo */
    .p-right img{
        padding: 20px;
        margin-left: -1px;
        margin-left: 19px;
    }
    .button-center{
        margin-left: 265px;
        margin-top: -30px;
    }
    .text-paragraph h1{
        font-size: 30px;
        margin-right: -60px;;
    }
    .text-paragraph p{
        font-size: 15px;
        margin-right: -100px;
        margin-top: -30px;
    }
    .input-form-input{
        margin-left: -30px;
        margin-top: -20px;
    }
    .input-form-button{
        margin-left: 220px;
        margin-top: -155px;
        
    }
    .well{
        height: 850px;
    }
    /*    TV Logo */

/*    PMC 2020*/
    .pc-image{
        margin-left: -50px;
    }
    .pc-h4 h4{
        font-size: 25px;
        margin-left: -40px;
        
    }
/*    PMC 2020*/
    
/*    Learn more */
    .learn-more h1{
        font-size: 30px;
        margin-top: -30px;
        left: 150px;
        right: 0;
 
    }
     .learn-more p{
        font-size: 15px;
        margin-top: -30px;
        left: 150px;
        right: 0;
 
    }
    .learn-text1{
        margin-left: 30px;
        top: 130px;
    }
    .learn-text2{
        margin-left: 70px;
        top: 160px;
    }
    .learn-text3{
        margin-left: 100px;
        top: 190px;
    }
    .learn-button{
        margin-left: 260px;
        margin-top: 100px;
    }
    .learn-more{
        height: 250px;
    }
    /*    Learn more */

/*    Card */
    .move-card1{
        margin-left: -20px;
        width: 260px;
    }
    .move-card2{
        margin-left: 90px;
        width: 260px;
    }
    .move-card2
    .move-card-dnt{
       margin-bottom: 19px;
    }
    .move-card3{
        margin-top: 870px;
        width: 260px;
        margin-left: -230px;
    }
    .move-card-nl{
        height: 2rem;
    }
/*    Card */

/*    Network */
    .network-text{
        height: 610px;
    }
    .small-text-pra p{
        margin-left: -20px;
    }
    .network-text img{
        padding: 15px;
        margin-left: -25px;
        margin-top: -10px;
    }
    .net-logo-number3-3 img{
        margin-left: 90px;
        margin-top: -50px;
    }
    .net-logo-number4 img{
        margin-left: 10px;
    }
    .net-logo-number4 p{
        margin-left: 15px;
        font-size: 15px;
        margin-top: -10px;
    }
/*    Network */

/*    Get start */
    .get-bu-center{
        margin-left: 17rem;
    }   
/*    Get start */
    
/*    TV for you */
    .tv-bg-for-you{
        height: 30rem;
    }
    .tv-for-you h1{
        font-size: 25px;
        margin-top: -3rem;
    }
     .tv-for-you h4{
        font-size: 15px;
         margin-right: 0;
    }
    .tv-image img{
        margin-left: -60px;
        margin-top: 4rem;
    }
    .tv-for-you
    .tv-letter{
        margin-left: -3rem;
    }
    .tv-for-you p{
        font-size: 1rem;
        margin-right: 0;
    }
    .tv-for-you a{
        margin-top: 2rem;
        font-size: 15px;
        margin-left: -9rem;
    }
    /*    TV for you */
/* Footer */
    .footer-p-ing1{
        margin-left: -10px;
    }
    .footer-p-ing2{
        margin-left: -3rem;
        
    }
    .ytv-footer__main-sitemap{
        width: 50rem;
    }
    .float-left-logo svg{
        margin-left: 5rem;
    }
/*    Footer */
    
}

@media only screen and (max-width: 720px){
    
}

/*Small phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {
    
/*    Nav bar */
    
.navbar a{
        font-size: 15px;
    }
    .navbar img{
        padding: 5px;
    }
    /*    Nav bar */

/*    Video */
.height-bg{
    max-height: 270px;
}
 .height-bg h2{
     margin-top: 19px;
    margin-right: -215px;
    font-size: 18px;
}
.height-bg h3{
    margin-top: 5px;
    margin-right: -215px;
    font-size: 18px;
}
.right{
    margin-top: -170px;
    margin-right: -400px;
    font-size: 10px;
}
    .up{
        font-size: 5px;
        margin-top: 3px;
    }
.right1{
    margin-top: -219px;
    margin-right: -140px;
    font-size: 10px;
}
.right2{
    margin-top: -258px;
    margin-right: -161px;
    font-size: 10px;
}
.right3{
    margin-top: -297px;
    margin-right: -230px;
    font-size: 10px;
}
.height-bg a{
    margin-top: -10px;
    margin-right: -265px;
    font-size: 5px;
}
.height-bg button{
    margin-top: -110px;
    margin-right: -350px;
    font-size: 10px;
}
.height-bg img{
    margin-top: -430px;
    margin-right: -30px;
    padding: 15px
}
.sp-car{
    margin-top: -419px;
    margin-right: -35px;
    font-size:10px;
}
.sp-car2{
    margin-top: -419px;
    margin-right: -40px;
    font-size:10px;
}
.sp-car3{
    margin-top: -419px;
    margin-right: -35px;
    font-size:10px;
}

/*    Video */
    
/*    TV Logo */
    .p-right img{
        padding: 30px;
        margin: 0;
        margin-top: -50px;
    }
    .col-sm-1{
        width: 100em;
    }
/*    Khmer tv */
    .padding-right-ctn{
        margin-left: 60px;
        margin-top: -100px;
    }
    .padding-right-hm{
        margin-left: 70px;
        margin-top: -50px;
    }
    .padding-right-mytv{
        margin-left: 150px;
        margin-top: -105px;
    }
    .padding-right-mytv img{
        width: 140px;
    }
    .padding-right-pnn{
        margin-left: 310px;
        margin-top: -100px;
    }
    .padding-right-TTk{
        margin-left: 240px;
        margin-top: -100px;
    }
    .padding-right-tv5{
        margin-left: 165px;
        margin-top: -50px;
    }
    /*    Khmer tv */
    
    /* Foreign tv */

.padding-right-abc{
    margin-left: 240px;
    margin-top: -50px;
}
.padding-right-cbs{
    margin-left: 315px;
    margin-top: -50px;
}
.padding-right-nbc{
    margin-left: 80px;
    margin-top: -50px;
}
.padding-right-esport{
    margin-left: 165px;
    margin-top: -50px;
}
.padding-right-amc{
    margin-left: 240px;
    margin-top: -50px;
}
.padding-right-cnn{
    margin-left: 315px;
    margin-top: -50px;
}
.padding-right-food{
    margin-left: 80px;
    margin-top: -50px;
}
.padding-right-foxnew{
    margin-left: 165px;
    margin-top: -50px;
}
.padding-right-fs1{
    margin-left: 240px;
    margin-top: -50px;
}
.padding-right-hgtv{
    margin-left: 315px;
    margin-top: -50px;
}
.padding-right-network{
     margin-left: 80px;
    margin-top: -50px;
}
.padding-right-nickml{
    margin-left: 165px;
    margin-top: -50px;
}
.padding-right-tnt{
    margin-left: 240px;
    margin-top: -50px;
}
/* Foreign tv */
    
    .button-center{
        margin-left: 138px;
        margin-top: -20px;
    }
     .button-center a{
        font-size: 11px;;
    }
    .p-fight a{
        font-size: 10px;
    }
    .text-paragraph h1{
        font-size: 19px;
        margin-right: -120px;
        margin-top: 5px;
    }
    .text-paragraph p{
        font-size: 10px;
        margin-right: -190px;
        margin-top: -270px;
    }
    .right-text1{
        margin-left: -50px;
        margin-bottom: 5px;
    }
    .right-text2{
        top: 625px;
    }

    .right-text3{
        top: 639px;
    }

    .right-text4{
        right: 400px;
        top: 652px;
    }
    .form-group{
        margin-left: 80px;
        margin-top: -130px;
    }
    .input-form-input
     .form-group input{
         margin-left: -10px;
         margin-top: 110px;
        padding: 10px;
         width: 100px;
         height: 30px;
    }
    input,
    input::-webkit-input-placeholder {
        font-size: 12px;  
    }
    .input-form-button
    .form-group button{
        margin-left: -25px;
           padding: 5px;
         width: 50px;
        margin-top: 140px;
    }
    .input-form-button button{
           font-size: 11px;
    }
    .well{
        height: 500px;
    }
    

/*    TV Logo */
    
/*    PC 2020 */
    .pc-image{
        margin-left: -120px;
        height: 130px;
        margin-top: -50px;
        margin-bottom: 20px;
    }
    .pc-image img{
        width: 50px;
    }
    .pc-h4{
        margin-top: -150px;
        left: 230px;
    }
    .pc-h4 h4{
       font-size: 15px;
    }
/*    PC 2020 */
    
/*    Learn more */
    .learn-more h1{
        top: 50px;
        font-size: 19px;
        margin-left: -45px;
    }
    .down{
        font-size: 7px;
        margin-top: 5px;
    }
    .learn-more p{
        font-size: 12px;
        margin-top: -80px;
    }
    .learn-text1{
        margin-left: -60px;
    }
    .learn-text2{
        margin-left: -25px;
        top: 150px;
    }
    .learn-text3{
        margin-left: 10px;
        top: 170px;
    }
    .learn-button{
        margin-left: 155px;
        margin-top: 20px;
    }
     .learn-button a{
        font-size: 12px;
        
    }
    .learn-more{
        height: 150px;
    }
/*    Learn more */

/* Favorite channel */
    .favorite-ch{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .favorite-ch h4{
        font-size: 16px;
    }
/* Favorite channel */
    
/*    Card */
    .card{
        width: 350px;
        margin: 0 50px 20px; 100px;
    }
    .card-header{
        font-size: 15px;
    }
    .card-body{
        font-size: 15px;
    }
    .card-content{
        font-size: 15px;
    }
    .card-footer{
        font-size: 15px;
    }
    .text-center span{
        font-size: 15px;
    }
    .text-center p{
        font-size: 15px;
    }
    .card-header p{
        font-size: 20px;
    }
/*    Card */
    
/*    Network */
    .small-text-pra p{
        font-size: 11px;
        margin-left: -50px;
        margin-top: -25px;
    }
    .net-logo img{
        padding: 15px;
        margin-top: -1px;
        margin-left: 3rem;
    }
    
/*    Row number1 */
    .net-logo-hbo{
        margin-left: -60px;
        margin-top: -20px;
    }
    .net-logo-with{
        margin-top: -84px;
        margin-left: 25px;
    }
    .net-logo-eplx{
        margin-left: 110px;
        margin-top: -85px;
    }
    .net-logo-11{
        margin-left: 190px;
        margin-top: -85px;
    }
/*    Row number1 */
    
/*    Row number2 */
    .small-text-red{
        margin-left: -60px;
         margin-top: -20px;
    }
    .small-text-fox-c-s{
        margin-top: -84px;
        margin-left: 25px;
    }   
    .small-text-coliy{
        margin-left: 110px;
        margin-top: -85px;
    }   
    .small-text-fox-s-p{
        margin-left: 190px;
        margin-top: -85px;
    }   
/*    Row number2 */
    
   /*    Row number3 */
    .net-logo-number3 img{
        padding: 15px;
        margin-top: -50px;
        margin-left: 115px;
    }
/*    Row number3 */
 
       /*    Row number4 */
    .net-logo-number4 img{
        padding: 15px;
        margin-left: -20px;
        margin-top: -2px;
    }
    .Network-text-4k{
        margin-left: 50px;
    }
    .Network-text-arrow-dwon{
        margin-left: 135px;
        margin-top: -125px;
    }
    .Network-text-unlimite{
        margin-left: 220px;
        margin-top: -125px;
    }
    .net-logo-number4 p{
        font-size: 12px;
        margin-left: -12px;
        margin-top: -10px;
    }
    
       /*    Row number4 */
    .net-work-text h1{
        font-size: 25px;
        margin-top: -60px;
        margin-left: 30px;
    }
    .net-work-text p{
        font-size: 12px;
        margin-top: -30px;
        margin-left: 30px;
    }
    .network-text{
        height: 100%;
    }
    .net-work-text a{
        font-size: 11px;
        margin-left: 28px;
    }
    .small-net-wor{
        font-size: 9px;
        margin-left: 28px;
    }

/*   Network */
    
/*    Get start */
    .get-start h4{
        font-size: 20px;
        margin-top: -50px;
    }
    .ytv-steps__step-index{
        padding: 0px;
        font-size: 15px;
    }
    .get-bu-center{
        margin-left: 150px;
        margin-right: -100px;
    }
    .get-bu-center button {
        font-size: 10px;
    }
    /*    Get start */
    
/*    TV for you */
    .tv-for-you h1{
        font-size: 26px;
        margin-left: 80px;
        margin-top: -70px;
    }
    .tv-for-you h4{
        font-size: 13px;
        margin-left: 50px;
    }
    .tv-letter{
        margin-top: -5px;
    }
    .tv-text{
        margin-top: -28px;
    }
    .tv-for-you p{
        font-size: 10px;
        margin-left: 50px;
        margin-top: -25px;
        
    }
    .tv-for-you a{
        font-size: 10px;
        margin-left: -60px;
        margin-top: -5px;
        padding: 5px 15px 5px 15px;
    }
    .tv-image img{
        margin-left: -55px;
        padding: 40px;
        margin-top: -10px;
    }
    .tv-bg-for-you{
        height: 550px;
    }
    /*    TV for you */
    
/*    Footer */
    .footer-icon i{
      font-size: 19px;
    }
    .ytv-footer__main{
        margin-left: -10px;
    }
    .footer-p-ing2{
        margin-left: 220px;
        margin-top: -250px;
    }
    .footer-p-ing3{
        margin-left: -30px;
        margin-top: -50px;
    }
    .footer-p-ing4{
        margin-left: 220px;
        margin-top: -325px;
    }
    .float-left-logo svg{
        padding: 5px;
        margin-left: 110px;
        margin-top: -1px;
    }
     .float-left-logo span{
        font-size: 14px;
    }
    .footer-last-menu{
        margin-left: 60px;
    }
    .ytv-footer__language{
        margin: 20px 140px 0 170px;
    }
    /*    Footer */




} 




/* Mobile L - 425px */
@media only screen and (max-width: 425px){
    
     /*    Video */
    .height-bg{
        height: 40rem;
        padding-top: 75px;
    }
     .height-bg h2{
        margin-top: -40px;
        font-size: 22px;
        margin-left: 50px;
        margin-right: -270px;
    }
    .height-bg h3{
        margin-top: -3rem;
        font-size: 22px;
        margin-left: 50px;
        margin-right: -270px;
    }
     .right{
        margin-top: -215px;
        font-size: 11px;
        margin-right: -440px;
    }
    .right1{
       font-size: 11px;
        margin-left: 100px;
        margin-top: -260px;
        width: 19rem;
        margin-right: -200px;
    }
    .right2{
       font-size: 11px;
        margin-left: 100px;
        margin-top: -297px;
        width: 19rem;
        margin-right: -240px;
    }
    .right3{
       font-size: 11px;
        margin-left: 100px;
        margin-top: -333px;
        width: 19rem;
        margin-right: -390px;
    }
     .video-button button{
         margin-top: -200px;
        padding: 5px;
        font-size: 9px;
        margin-left: 45px;
    }
    .height-bg img{
        width: 50px;
        margin-right: -10px;
        margin-top: -500px;
        
    }
    .sp-car{
        font-size: 8px;
       margin-right: -15px;
        margin-top: -495px;
         
    }
    .sp-car2{
        font-size: 8px;
        margin-right: -20px;
        margin-top: -490px;
        
    }
    .sp-car3{
        font-size: 8px;
       margin-right: -15px;
        margin-top: -490px;
         
    }
        /*    Video */
    
    
     .padding-right-ctn img{
        width: 130px;
        height: 105px;
        margin-left: -10px;
    }
    .padding-right-mytv img{
        width: 130px;
        height: 110px;
        margin-top: -50px;
        margin-left: -30px;
    }
      .padding-right-TTk{
        margin-left: 200px;  
    }
     .padding-right-hm img{
        top: -50px;
        width: 115px;
        height: 105px;
        margin-left: -14px;
    }
    .padding-right-tv5 img{
        top: 50px;
         margin-left: -35px;
    }
     .padding-right-pnn{
        margin-left: 260px;
        top: -5px;
        width: 50px;
    }
    .padding-right-pnn img{
        width: 100px;
    }
   
    
     .padding-right-abc{
        top: -1px;
        margin-left: 200px;
    }
     .padding-right-cbs{
        margin-left: 260px;
        top: -1px;
    }
     .padding-right-nbc{
        top: 0px;
        margin-left: 63px;
    }
     .padding-right-esport{
        top: 0px;
        margin-left: 130px;
    }
     .padding-right-amc{
        top: 0px;
        margin-left: 199px;
    }
     .padding-right-cnn{
        top: 0px;
        margin-left: 259px;
    }
      .padding-right-food{
        top: 0px;
        margin-left: 63px;
        
    }
     .padding-right-foxnew{
        top: 0px;
        margin-left: 130px;
    }
      .padding-right-fs1{
        top: 0px;
        margin-left:199px;
        
    }
     .padding-right-hgtv{
        top: 0px;
        margin-left: 259px;
    }
     .padding-right-network{
        top: 0px;
        margin-left: 63px;
    }
    .padding-right-nickml{
        top: 0px;
        margin-left: 130px;
    }
    .padding-right-tnt{
        top: 0px;
        margin-left: 199px;
    }
    
    
/*
     .well{
        height: 550px;
    }
*/
    .button-center{
        margin-top: -25px;
        margin-left: 110px;
    }
    .text-paragraph h1{
        font-size: 20px;
        width: 20rem;
        margin-right: -180px;
        top: 310px;
    }
    .right-text1{
        top: 38rem;
        width: 15rem;
        font-size: 10px;
        right: 270px;
    }
    .right-text2{
        top: 39rem;
        width: 15rem;
        font-size: 10px;
        right: 273px;
    }
    .right-text3{
        top: 40rem;
        width: 15rem;
        font-size: 10px;
        right:265px;
    }
    .right-text4{
        top: 41rem;
        width: 15rem;
        font-size: 10px;
        right: 190px;
    }
    
     /*    PC 2020 */
    .pc-image img{
        margin-left: 170px;
    }
    .pc-h4 h4{
        margin-top: 100px;
        margin-left: -120px;
        font-size: 17px;
    }
    /*    PC 2020 */
 
    
    /*    Learn more */
    .learn-more h1{
        font-size: 20px;
        left: 110px;
    }
    .learn-more p{
        font-size: 12px;
        left: 110px;
    }
    .learn-text1{
        margin-left: -55px;
    }
    .learn-text2{
        margin-left: -20px;
    }
    .learn-text3{
        margin-left: 7px;
    }
    .learn-button a{
        font-size: 10px;
        margin-left: -30px;
    }
    /*    Learn more */
    
    
     /*    Card */
    .card{
        left: -20px;
        width: 330px;
    }   
    /*    Card */
    
     /* Small text */
    .small-text{
        top: -40px;
        margin-bottom: -90px;
    }
    /* Small text */
    
     /*    Network */
    .network-text img{
        padding: 15px;
        margin-left: 30px;
    }
    .net-logo-with{
        margin-left: 20px;
    }
    .net-logo-eplx{
        margin-left: 180px;
    }
    .net-logo-11{
       margin-left: 100px; 
    }
    
    .small-text-fox-c-s{
        margin-left: 20px;
    }
    .small-text-coliy{
        margin-left: 180px;
    }
    .small-text-fox-s-p{
        margin-left: 100px; 
    }
    
    .net-logo-number3-3{
        margin-left: 60px; 
    }
    
    .net-logo-number4{
        margin-top: -20px;
    }
    .Network-text-4k{
        margin-left: -20px; 
    }
    .Network-text-arrow-dwon{
        top: -5px;
        margin-left: 60px; 
    }
    .Network-text-unlimite{
         top: -9px;
       margin-left: 140px;
    }
    
/*
      .net-logo-number4 p{
        font-size: 10px;
        margin-left: 15px;
    }
*/
    .Network-text-4k p{
        font-size: 12px;
        margin-top: -5px;
        margin-left: 40px;
    }
    .Network-text-arrow-dwon p{
        font-size: 12px;
        margin-top: -5px;
        margin-left: 40px;
    }
    .Network-text-unlimite p{
       font-size: 12px;
        margin-top: -5px;
        margin-left: 40px;
    }
    
    .net-work-text{
        margin-left: -30px;
    }
    .net-work-text h1{
        font-size: 25px;
    }
    /*    Network */
 
    
    .get-bu-center a{
        margin-left: -25px;
    }
    
     /*    TV for you */
    .tv-bg-for-you{
        height: 30rem;
    }
    .tv-for-you h1{
        font-size: 27px;
        width: 15rem;
        margin-left: 40px;
    }
    .tv-for-you h4{
        font-size: 11px;
        width: 15rem;
    }
    .tv-bg-for-you
    .tv-letter{
       margin-left: 39px;
    }
    .tv-bg-for-you
    .tv-text{
        width: 15rem;
        margin-left: 40px;
    }
      .tv-for-you p{
        font-size: 11px;
        width: 15rem;
          margin-left: 40px;
    }
    .tv-image img{
        margin-top: 10px;
        width: 29rem;
        margin-left: -62px;
    }
    /*    TV for you */

    
    .footer-p-ing2{
        margin-left: 170px;
        top: 7px;
    }
    .footer-p-ing4{
        margin-left: 170px;
        top: -5px;
    }
    .float-left-logo svg{
        margin-left: 90px;
    }
    .footer-last-menu{
        width: 100rem;
        margin-left: 16px;
    }
    .ytv-footer__language{
        width: 120px;
        margin-left: 130px;
    }
}

/* Mobile M - 375px */
@media only screen and (max-width: 375px){
    
    /*    Video */
    .height-bg{
        height: 30rem;
        padding-top: 75px;
    }
     .height-bg h2{
        margin-top: -40px;
        font-size: 20px;
        margin-left: 50px;
        margin-right: -280px;
    }
    .height-bg h3{
        margin-top: -3rem;
        font-size: 20px;
        margin-left: 50px;
        margin-right: -280px;
    }
     .right{
        margin-top: -225px;
        font-size: 11px;
        margin-right: -460px;
    }
    .right1{
       font-size: 11px;
        margin-left: 100px;
        margin-top: -265px;
        width: 19rem;
        margin-right: -215px;
    }
    .right2{
       font-size: 11px;
        margin-left: 100px;
        margin-top: -299px;
        width: 19rem;
        margin-right: -255px;
    }
    .right3{
       font-size: 11px;
        margin-left: 100px;
        margin-top: -335px;
        width: 19rem;
        margin-right: -410px;
    }
     .video-button button{
         margin-top: -170px;
        padding: 4px;
        font-size: 9px;
        margin-left: 70px;
    }
    .height-bg img{
        width: 50px;
        margin-right: -10px;
        margin-top: -500px;
        
    }
    .sp-car{
        font-size: 8px;
       margin-right: -15px;
        margin-top: -495px;
         
    }
    .sp-car2{
        font-size: 8px;
        margin-right: -20px;
        margin-top: -490px;
        
    }
    .sp-car3{
        font-size: 8px;
       margin-right: -15px;
        margin-top: -490px;
         
    }
        /*    Video */
    
    /*    TV Logo */
    .well{
        height: 550px;
    }
    .well img{
        margin-left: -6px;
    }
    .button-center{
        margin-top: -10px;
        margin-left: 85px;
    }
    .text-paragraph h1{
        font-size: 18px;
        width: 20rem;
        margin-right: -220px;
        top: 380px;
    }
    .right-text1{
        top: 42.4rem;
        width: 15rem;
        font-size: 10px;
        right: 250px;
    }
    .right-text2{
        top: 43.2rem;
        width: 15rem;
        font-size: 10px;
        right: 254px;
    }
    .right-text3{
        top: 44.0rem;
        width: 15rem;
        font-size: 10px;
        right: 245px;
    }
    .right-text4{
        top: 45.0rem;
        width: 15rem;
        font-size: 10px;
        right: 160px;
    }
    /*    Row number 1 */
    
    .padding-right-ctn img{
        width: 130px;
        height: 105px;
        margin-left: -5px;
    }
    .padding-right-mytv img{
        width: 130px;
        height: 109px;
        margin-top: -55px;
        margin-left: -10px;
    }
    .padding-right-cnc{
        margin-left: 70px;
    }
    .padding-right-hm img{
        top: -50px;
        width: 115px;
        height: 105px;
        margin-left: 75px;
    }
    .padding-right-tv5 img{
        top: 50px;
         margin-left: 55px;
    }
    .padding-right-pnn{
        margin-left: 220px;
        top: -5px;
        width: 50px;
    }
    .padding-right-pnn img{

        width: 100px;
    }
    .padding-right-TTk{
        margin-left: 0px;
        top: 45px;
        
    }
    /*    Row number 1 */
    
    /*    Row number 2 */


    .padding-right-abc{
        top: 50px;
        margin-left: 0px;
    }
    .padding-right-cbs{
        margin-left: 70px;
        top: 50px;
    }
    .padding-right-fox{
        width: 115px;
        height: 105px;
        margin-left: 155px;
    }
    .padding-right-nbc{
        top: -55px;
        margin-left: 220px;
    }
    .padding-right-esport{
        top: 10px;
        margin-left: 0px;
    }
    .padding-right-amc{
        top: 10px;
        margin-left: 70px;
    }
    .padding-right-cl{
        top: -40px;
        margin-left: 220px;
    }
    .padding-right-cnn{
        top: 10px;
        margin-left: 155px;
    }
    /*    Row number 2 */

/*    Row number 3 */
    .padding-right-food{
        top: 10px;
        margin-left: 0px;
        
    }
    .padding-right-foxnew{
        top: 10px;
        margin-left: 69px;
    }
    .padding-right-fs1{
        top: 10px;
        margin-left:155px;
        
    }
    .padding-right-hgtv{
        top: 10px;
        margin-left: 220px;
    }
    .padding-right-msnbc{
        top: 10px;
        margin-left: 0px;
    }
    .padding-right-network{
        top: 10px;
        margin-left: 69px;
    }
    .padding-right-nickml{
        top: 10px;
        margin-left: 155px;
    }
    .padding-right-tnt{
        top: 10px;
        margin-left: 220px;
    }
    /*    Row number 3 */
    
    .input-form-input{
        top: 10px;
        left: -80px;
    }
    .input-form-button{
        margin-top: -145px;
        left: -199px;
    }

/*    TV Logo */
    
    /*    PC 2020 */
    .pc-image img{
        margin-left: 170px;
    }
    .pc-h4 h4{
        margin-top: 102px;
        margin-left: -120px;
        font-size: 15px;
    }
    /*    PC 2020 */
 
    
    /*    Learn more */
    .learn-more h1{
        font-size: 15px;
        left: 120px;
    }
    .learn-more p{
        font-size: 10px;
        left: 110px;
    }
    .learn-text1{
        margin-left: -55px;
    }
    .learn-text2{
        margin-left: -30px;
    }
    .learn-text3{
        margin-left: -10px;
    }
    .learn-button a{
        font-size: 10px;
        margin-left: -60px;
    }
    /*    Learn more */
    
    /*    Favorite channle */
    .favorite-ch h4{
        font-size: 15px;
    }    
    /*    Favorite channle */

    
    /*    Card */
    .card{
        left: -38px;
        width: 300px;
    }   
    /*    Card */
    
    /* Small text */
    .small-text{
        top: -40px;
        margin-bottom: -90px;
    }
    /* Small text */
    
    /*    Network */
    .network-text img{
        padding: 20px;
        margin-left: 35px;
    }
    .net-logo-with{
        margin-left: 2px;
    }
    .net-logo-eplx{
        margin-left: 120px;
    }
    .net-logo-11{
       margin-left: 60px; 
    }
    
    .small-text-fox-c-s{
        margin-left: 2px;
    }
    .small-text-coliy{
        margin-left: 120px;
    }
    .small-text-fox-s-p{
        margin-left: 60px; 
    }
    
    .net-logo-number3-3{
        margin-left: 30px; 
    }
    
    .net-logo-number4{
        margin-top: -20px;
    }
    .Network-text-4k{
        margin-left: -30px; 
    }
    .Network-text-arrow-dwon{
        top: 0;
        margin-left: 30px; 
    }
    .Network-text-unlimite{
        top: 0;
        margin-left: 90px;
    }
    
/*
      .net-logo-number4 p{
        font-size: 10px;
        margin-left: 15px;
    }
*/
    .Network-text-4k p{
        font-size: 10px;
        margin-top: -5px;
        margin-left: 40px;
    }
    .Network-text-arrow-dwon p{
        font-size: 10px;
        margin-top: -5px;
        margin-left: 40px;
    }
    .Network-text-unlimite p{
       font-size: 10px;
        margin-top: -5px;
        margin-left: 40px;
    }
    
    .net-work-text{
        margin-left: -30px;
    }
    .net-work-text h1{
        font-size: 25px;
    }
    /*    Network */
    
    
    /*    Get start */
    .get-start h4{
        font-size: 16px;
    }
    .get-bu-center a{
        margin-left: -54px;
    }
/*    Get start */
    
    /*    TV for you */
    .tv-bg-for-you{
        height: 29rem;
    }
    .tv-for-you h1{
        font-size: 25px;
        width: 15rem;
        margin-left: 23px;
    }
    .tv-for-you h4{
        font-size: 11px;
        width: 15rem;
    }
    .tv-bg-for-you
    .tv-letter{
       margin-left: 25px;
    }
    .tv-bg-for-you
    .tv-text{
        width: 15rem;
        margin-left: 22px;
    }
      .tv-for-you p{
        font-size: 11px;
        width: 15rem;
          margin-left: 20px;
    }
    .tv-image img{
        margin-top: 10px;
        width: 25rem;
        margin-left: -55px;
    }
    /*    TV for you */

    /* Footer */
    .footer-p-ing1{
        margin: 0 50px 10px 30px;
    }
    .footer-p-ing2{
        left: -160px;
        top: 220px;
    } 
    .footer-p-ing3{
        left: 40px;
        top: 230px;
    } 
    .footer-p-ing4{
        top: 499px;
        left: -160px;


    }
    .float-left-logo{
        margin-top: 25rem;
    }
    
    .float-left-logo svg{
        margin-left: 90px;
    }
    .footer-last-menu{
        width: 100rem;
        margin-left: 5px;
    }
    .ytv-footer__language{
        width: 120px;
        margin-left: 100px;
    }
    /* Footer */
}

/* Mobile S - 320px */
@media only screen and (max-width: 320px){
    
/*    Video */
    .height-bg{
        height: 255px;
        padding-top: 75px;
    }
    .height-bg h2{
        margin-top: -40px;
        font-size: 15px;
        margin-left: 50px;
        margin-right: -290px;
    }
    .height-bg h3{
        margin-top: -3rem;
        font-size: 15px;
        margin-left: 50px;
        margin-right: -290px;
    }
    .right{
        margin-top: -240px;
        font-size: 10px;
        margin-right: -31rem;
    }
    .right1{
       font-size: 10px;
        margin-left: 100px;
        margin-top: -280px;
        width: 19rem;
        margin-right: -260px;
    }
    .right2{
       font-size: 10px;
        margin-left: 100px;
        margin-top: -318px;
        width: 19rem;
        margin-right: -297px;
    }
    .right3{
       font-size: 10px;
        margin-left: 100px;
        margin-top: -355px;
        width: 19rem;
        margin-right: -444px;
    }
    .height-bg a{
        font-size: 5px;
        margin-top: -30px;
        
    }
    .height-bg
    .video-button{
        top: 16rem;
        padding: 5px;
        font-size: 9px;
        left: 2.5rem;
    }
    .height-bg img{
        width: 50px;
        margin-right: -10px;
        margin-top: -510px;
        
    }
    .sp-car{
        font-size: 8px;
       margin-right: -20px;
        margin-top: -505px;
         
    }
    .sp-car2{
        font-size: 8px;
        margin-right: -20px;
        margin-top: -499px;
        
    }
    .sp-car3{
        font-size: 8px;
       margin-right: -20px;
        margin-top: -500px;
         
    }
/*    Video */
    
/*    TV Logo */
    .well{
        height: 570px;
    }
    .button-center{
        margin-top: 20px;
        margin-left: 56px;
    }
    .text-paragraph h1{
        font-size: 15px;
        width: 250px;
        margin-right: -199px;
        top: 405px;
    }
    .right-text1{
        top: 43.7rem;
        width: 15rem;
        font-size: 10px;
        right: 224px;
    }
    .right-text2{
        top: 44.5rem;
        width: 15rem;
        font-size: 10px;
        right: 227px;
    }
    .right-text3{
        top: 45.4rem;
        width: 15rem;
        font-size: 10px;
        right: 220px;
    }
    .right-text4{
        top: 46.4rem;
        width: 15rem;
        font-size: 10px;
        right: 140px;
    }
    /*    Row number 1 */
    
    .padding-right-ctn img{
        width: 130px;
        height: 105px;
        margin-left: 10px;
    }
    .padding-right-mytv img{
        width: 130px;
        height: 105px;
        margin-left: -4px;
    }
    .padding-right-cnc{
        margin-left: 160px;
    }
    .padding-right-hm{
        top: 50px;
    }
    .padding-right-hm img{
        width: 115px;
        height: 105px;
        margin-left: -80px;
    }
    .padding-right-tv5{
        top: 50px;
         margin-left: 26px;
    }
    .padding-right-pnn{
        margin-left: -440px;
        top: 50px;
        width: 50px;
    }
    .padding-right-pnn img{

        width: 100px;
    }
    .padding-right-TTk{
        margin-left: 85px;
        top: 50px;
        
    }
    /*    Row number 1 */
    
    /*    Row number 2 */


    .padding-right-abc{
        top: 50px;
        margin-left: 160px;
    }
    .padding-right-cbs{
        margin-left: 0px;
        top: 100px;
    }
    .padding-right-fox{
        top: 50px;
        margin-left: 80px;
    }
    .padding-right-nbc{
       top: 0px;
        margin-left: 160px;
    }
    .padding-right-esport{
        top: 50px;
        margin-left: 0px;
    }
    .padding-right-amc{
        top: 50px;
        margin-left: 80px;
    }
    .padding-right-cl{
        top: 50px;
        margin-left: 0px;
    }
    .padding-right-cnn{
        top: 50px;
        margin-left: 160px;
    }
    /*    Row number 2 */

/*    Row number 3 */
    .padding-right-food{
        top: 50px;
        margin-left: 80px;
        
    }
    .padding-right-foxnew{
        top: 50px;
        margin-left: 160px;
    }
    .padding-right-fs1{
        top: 50px;
        margin-left: 0px;
        
    }
    .padding-right-hgtv{
        top: 50px;
        margin-left: 80px;
    }
    .padding-right-msnbc{
        top: 50px;
        margin-left: 160px;
    }
    .padding-right-network{
        top: 50px;
        margin-left: 0;
    }
    .padding-right-nickml{
        top: 50px;
        margin-left: 80px;
    }
    .padding-right-tnt{
        top: 50px;
        margin-left: 160px;
    }
    /*    Row number 3 */
    
    .input-form-input{
        top: -5px;
        left: -80px;
    }
    .input-form-button{
        margin-top: -160px;
        left: -199px;
    }

/*    TV Logo */
    
/*    PC 2020 */
    .pc-image img{
        margin-left: 150px;
    }
    .pc-h4 h4{
        margin-top: 102px;
        margin-left: -140px;
        font-size: 12px;
    }
    /*    PC 2020 */
    
/*    Learn more */
    .learn-more h1{
        font-size: 14px;
        left: 100px;
    }
    .learn-more p{
        font-size: 9px;
        left: 100px;
    }
    .learn-text1{
        margin-left: -55px;
    }
    .learn-text2{
        margin-left: -30px;
    }
    .learn-text3{
        margin-left: -10px;
    }
    .learn-button a{
        font-size: 10px;
        margin-left: -80px;
    }
    /*    Learn more */
    
/*    Favorite channle */
    .favorite-ch h4{
        font-size: 13px;
    }    
    /*    Favorite channle */
    
/*    Card */
    .card{
        left: -40px;
        width: 270px;
    }   
    /*    Card */

/* Small text */
    .small-text{
        top: -40px;
        margin-bottom: -90px;
    }
    /* Small text */

/*    Network */
    .network-text img{
        padding: 20px;
        margin-left: 10px;
    }
    .net-logo-with{
        margin-left: 2px;
    }
    .net-logo-eplx{
        margin-left: 120px;
    }
    .net-logo-11{
       margin-left: 60px; 
    }
    
    .small-text-fox-c-s{
        margin-left: 2px;
    }
    .small-text-coliy{
        margin-left: 120px;
    }
    .small-text-fox-s-p{
        margin-left: 60px; 
    }
    
    .net-logo-number3-3{
        margin-left: 30px; 
    }
    
    .net-logo-number4{
        margin-top: -20px;
    }
    .Network-text-4k{
        margin-left: -30px; 
    }
    .Network-text-arrow-dwon{
        top: 0px;
        margin-left: 30px; 
    }
    .Network-text-unlimite{
        top: 0px;
        margin-left: 90px;
    }
    
/*
      .net-logo-number4 p{
        font-size: 10px;
        margin-left: 15px;
    }
*/
    .Network-text-4k p{
        font-size: 10px;
        margin-top: -5px;
        margin-left: 17px;
    }
    .Network-text-arrow-dwon p{
        font-size: 10px;
        margin-top: -5px;
        margin-left: 17px;
    }
    .Network-text-unlimite p{
       font-size: 10px;
        margin-top: -5px;
        margin-left: 17px;
    }
    
    .net-work-text{
        margin-left: -30px;
    }
    .net-work-text h1{
        font-size: 20px;
    }
    /*    Network */
    
/*    Get start */
    .get-start h4{
        font-size: 16px;
    }
    .get-bu-center a{
        margin-left: -80px;
    }
/*    Get start */
    
/*    TV for you */
    .tv-bg-for-you{
        height: 25rem;
    }
    .tv-for-you h1{
        font-size: 22px;
        width: 15rem;
        margin-left: -10px;
    }
    .tv-for-you h4{
        font-size: 10px;
        width: 15rem;
    }
    .tv-bg-for-you
    .tv-letter{
       margin-left: -10px;
    }
    .tv-bg-for-you
    .tv-text{
        width: 15rem;
        margin-left: -10px;
    }
      .tv-for-you p{
        font-size: 10px;
        width: 15rem;
          margin-left: -10px;
    }
    .tv-image img{
        margin-top: 10px;
        width: 21rem;
        margin-left: -52px;
    }
    /*    TV for you */

/* Footer */
    .footer-p-ing2{
        left: -160px;
        top: 200px;
    } 
    .footer-p-ing3{
        top: 200px;
    } 
    .footer-p-ing4{
        top: 480px;
        left: -160px;


    }
    .float-left-logo{
        margin-top: 25rem;
    }
    
    .float-left-logo svg{
        margin-left: 90px;
    }
    .footer-last-menu{
        width: 100rem;
        margin-left: -20px;
    }
    .ytv-footer__language{
        width: 120px;
        margin-left: 70px;
    }
    /* Footer */

}

