
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,
body{
    width: 100%;
    overflow-x: hidden; /* And This will hide the horizontalscroll bar*/
    font-family: 'Hanuman', serif;
}

/* Nav bar style */
.navbar-brand img{
    width: 50px;
}
.sticky {
    font-family: 'Hanuman', serif;
}
.navbar-nav{
    margin-top: -1px;
}
/* Nav bar style */


/* Video style */

#myCarousel {
    max-width: 1200px;
    margin: 0 auto;
}
.carousel-control-next, .carousel-control-prev {
    width: 9% !important;
}
.carousel-inner {
    background: #111;
}
.carousel-indicators {
    bottom: -13px !important;
}
.carousel-item {
    padding-bottom: 25px;
}
video {
    width: 100%;
    position:relative;
    display:block;
}
/* Video style */

/* Text on video style */
.float-right{
    position:absolute;
}
.height-bg h2{
    color: white;
    top:15%;
    right:370px;
    font-size: 60px;
    
}
.height-bg h3{
    color: white;
    top:23%;
    right:370px;
    font-size: 60px;
    
}
.height-bg a{
    top:70%;
    right:560px;
    padding: 10px;
    font-family: 'Hanuman', serif;
}
.right{
    color: rgb(219, 219, 219);
    top:290px;
    right:640px;
    font-size: 30px;
}
.right1{
    color: rgb(219, 219, 219);
    top:350px;
    right:250px;
    font-size: 30px;
}
.right2{
    color: rgb(219, 219, 219);
    top:400px;
    right:280px;
    font-size: 30px;
}
.right3{
    color: rgb(219, 219, 219);
    top:450px;
    right:390px;
    font-size: 30px;
}
.up{
    font-size: 13px;
    margin-top: 2px;
    position:absolute;
}
.height-bg{
    max-height: 750px;
}
.height-bg a{
    margin-right: 20px;

}
.sp-car{
    color: white;
    font-size: 20px;
    top: 653px;
    right: 79%;
    font-family: 'Hanuman', serif;
}
.car-racing{
    top: 645px;
    right: 90%;
    position:absolute;
    width: 100px;
}
.sp-car2{
    color: white;
    font-size: 20px;
    top: 653px;
    right: 78%;
    font-family: 'Hanuman', serif;
}
.car-racing2{
    top: 645px;
    right: 90%;
    position:absolute;
    width: 100px;
    height: 50px;
}
.sp-car3{
    color: white;
    font-size: 20px;
    top: 653px;
    right: 83%;
    font-family: 'Hanuman', serif;
}
.car-racing3{
    top: 645px;
    right: 90%;
    position:absolute;
    width: 100px;
    height: 50px;
}
.video-button{
    position:absolute;
}
/* Text on video style */


/* transparent background sytle*/
.vid-bg {
    opacity: 0.5; /* ! */
    right: 0;
    bottom: 0;
}
/* transparent background */


/* TV Logo */
.well{
    background-color: rgb(241, 241, 241);
    height: 900px;
}
.p-right{
    margin-left: 175px;
}
.p-right img{
    margin: 20px ;
    padding-right: 10px;
    margin-left: 150px;

}
.padding-right{
    margin-right: 20px;
}
/* Khmer tv */
.padding-right-btv{
    margin-right: 20px;
}
.padding-right-cnc{
    margin-right: 20px;
}
.padding-right-ctn{
    margin-left: -25px;
}
.padding-right-hm{
    margin-left: 35px;
}
.padding-right-mytv{
    margin-left: 10px;
}
.padding-right-pnn{
    margin-left: 35px;
}
.padding-right-TTk{
    margin-left: 22px;
}
.padding-right-tv5{
    margin-left: 23px;
}
/* Khmer tv */

/* Foreign tv */

.padding-right-abc{
    margin-right: 20px;
}
.padding-right-cbs{
    margin-right: 20px;
}
.padding-right-fox{
    margin-right: 20px;
}
.padding-right-nbc{
    margin-right: 20px;
}
.padding-right-esport{
    margin-right: 20px;
}
.padding-right-amc{
    margin-right: 20px;
}
.padding-right-cnn{
    margin-right: 20px;
}
.padding-right-cl{
    margin-right: 20px;
}

.padding-right-food{
    margin-right: 20px;
}
.padding-right-foxnew{
    margin-right: 20px;
}
.padding-right-fs1{
    margin-right: 20px;
}
.padding-right-hgtv{
    margin-right: 20px;
}
.padding-right-msnbc{
    margin-right: 20px;
}
.padding-right-network{
    margin-right: 20px;
}
.padding-right-nickml{
    margin-right: 20px;
}
.padding-right-tnt{
    margin-right: 20px;
}
/* Foreign tv */

/* Button */
.button-center{
    margin: 0 100px 0 553px;
}
.button-center a{
    font-size: 17px;
    font-family: 'Hanuman', serif;
    
}
/* Button */

.well h1{
    color: rgb(0, 0, 0);
    top:60%;
    right:305px;
    font-size: 50px;
    
}
.right-text1{
    color: rgb(165, 165, 165);
    top:610px;
    right:450px;
    font-size: 20px;
}
.right-text2{
    color: rgb(165, 165, 165);
    top:635px;
    right:445px;
    font-size: 20px;
}
.right-text3{
    color: rgb(165, 165, 165);
    top:660px;
    right:463px;
    font-size: 20px;
}
.right-text4{
    color: rgb(165, 165, 165);
    top:683px;
    right:610px;
    font-size: 20px;
}

/* Input from and button style */
.input-form-input input{
    margin: 100px 0 0 -70px;
    left: 50px;
    width: 160px;
    padding: 10px;
}
.input-form-button{
    top: 100px;
    left: -210px;
    font-family: 'Hanuman', serif;
}
.input-width-button{
    width: 100px;
    padding: 13px;
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    
}
/* Input from and button style */

/* TV Logo */


/* PC 2020 */
.pc-image img{
    width: 100px;
    margin: 100px 359px;
}
.pc-h4 h4{
    font-size: 30px;
    margin: 100px 0 0 -180px;
}
/* PC 2020 */

/* Learn more style */
.learn-more{
    background-color: rgb(0, 0, 0);
    height: 400px;
}
.learn-more h1{
    color: rgb(255, 255, 255);
    top:20%;
    right:305px;
    font-size: 50px;
    
}
.learn-text1{
    color: rgb(255, 255, 255);
    top:160px;
    right:340px;
    font-size: 25px;
}
.learn-text2{
    color: rgb(255, 255, 255);
    top:220px;
    right:400px;
    font-size: 25px;
}
.learn-text3{
    color: rgb(255, 255, 255);
    top:270px;
    right:450px;
    font-size: 25px;
}
.down{
    font-size: 10px;
    margin-top: 22px;
    position:absolute;
}
del{
    color:red;
    text-decoration:line-through;
}

/* Button */
.learn-button{
    margin: 230px 50px 0 540px;
    font-size: 20px;
    font-family: 'Hanuman', serif;
    
}
.learn-button a{
    color: rgb(46, 109, 245);
    text-decoration: none;
}
.learn-button a:hover{
    color: blue;
    text-decoration: none;
}
/* Button */

/* Learn more style */


/* favoriate channel */
.favorite-ch{
    margin-top: 100px;
    margin-bottom: 100px;
}
.favorite-ch h4{
    font-size: 30px;
}
/* favoriate channel */


/* Cards */
.bg-card span{
    font-size: 30px;
}
.text-center span{
    font-size: 30px;
}
.bg-secon{
background-color: rgb(179, 178, 178);
}
.card-height{
    height: 200px;
}
.card-header span{
    font-size: 20px;
    font-family: 'Hanuman', serif;
    margin-bottom: -4px;
}
.card-header svg{
    width: 50px;
    height: auto;
    margin-bottom: -4px;
    
}
.card-header p{
    font-size: 25px;
    margin-bottom: 9px;
}
.move-card1{
    margin-right: 20px;
}
.move-card2{
    margin-right: 20px;
}
.move-card-nl{
    height: 8px;
}
.move-card-dnt{
    height: 7px;
}
.move-card3{
    margin-right: 20px;
}
.move-card4{
    height: 80px;
}
.move-card4 p{
    margin-top: 15px;
}
.card-header h{
    font-size: 30px;
}
/* Cards */

/* Small text style */
.small-text p{
    font-size: 11px;
}
/* Small text style */

/* Network and description style */
.network-text{
    background-color: rgb(241, 241, 241);
    height: 699px;
}
.net-logo img{
    margin-left: 45px;

}
.small-text-pra p{
    font-size: 15px;
}
.net-logo-number3 img{
    margin-left: 230px;
}
.net-logo-number4 img{
    margin-left: 110px;
}
.Network-text-row4 p{
    font-size: 15px;
    width: 70px;
    margin-left: 120px;
    margin-top: 10px;
    text-align: center;
}
.Network-text-4k{
    margin-right: 15px; 
}
.Network-text-arrow-dwon{
    margin-right: 15px; 
}
.Network-text-unlimite{
    margin-right: 15px; 
}
.net-work-text{
    margin-top: 85px;
}
.net-work-text h1{
    font-size: 40px;
}
.net-work-text p{
    font-size: 20px;
    width: 545px;
    
}
.net-work-text a{
    font-family: 'Hanuman', serif;
}
.small-net-wor{
    font-size: 12px;
}
.looking-all{
    text-decoration: none;
}
.net-logo-hbo{
   margin-right: 15px; 
}
.net-logo-with{
   margin-right: 15px; 
}
.net-logo-eplx{
   margin-right: 15px; 
}
.net-logo-11{
    margin-right: 15px; 
}
.small-text-red{
    margin-right: 15px; 
}
.small-text-fox-c-s{
    margin-right: 15px; 
}
.small-text-coliy{
    margin-right: 15px; 
}
.small-text-fox-s-p{
    margin-right: 15px; 
}
.net-logo-number3-3{
    margin-right: 15px; 
}

/* Network and description style */

/* Get start style */
.get-start{
    margin-top: 100px;
    margin-bottom: 50px;
}
.get-start h4{
    font-size: 30px;
}
.ytv-steps__step-index {
    line-height: 1.33333;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    border-radius: 1000px;
    color: #fff!important;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: 700!important;
    height: 44px;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
}
.ytv-steps__step-info {
    line-height: 1.55556;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    max-width: 256px;
}
.get-bu-center{
    margin: 20px 200px 0 560px;
    font-family: 'Hanuman', serif;
}
/* Get start style */

/* TV for you */
.tv-for-you{
    margin-top: 100px;
}
.tv-for-you h1{
    margin-right: 150px;
}
.tv-text{
    margin-right: 50px;
}
.tv-for-you h4{
    font-size: 20px;
}
.tv-letter{
    margin-right: 120px;
    margin-top: 30px;
}
.tv-for-you p{
    font-size: 20px;
    margin-right: 50px;
}
.tv-image img{
    width: 800px;
    margin-top: 110px;
    margin-left: -170px;
}
.tv-bg-for-you{
    background-color: rgb(241, 241, 241);
    height: 650px;
}
.tv-for-you a{
    margin-top: 100px;
    margin-left: -200px;
    font-size: 15px;
    font-family: 'Hanuman', serif;
}
/* TV for you */

/* Footer */
.footer-icon a{
    color: rgb(192, 192, 192);
    margin-left: 30px;

}
.footer-icon a:hover{
    color: rgb(255, 255, 255);

}
.footer-icon i{
    color: rgb(192, 192, 192);
    font-size: 25px;
    margin-left: 5px;
}
.footer-icon i:hover{
    color: rgb(0, 153, 255);
}
hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}
.footer-menu{
    margin-left: 10px;
}
.footer-menu a{
    margin-left: -1px;
    font-size: 15px;

}
.ytv-footer__main {
    margin-bottom: 36px;
    margin-top: 36px;
    width: 100%;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.ytv-footer__main-sitemap {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -18px;
    margin-right: -18px;
    width: auto;
}
.ytv-footer__sitemap-branch {
    width: calc(188px + 28 * (100vw - 1024px)/ 416);
}
.ytv-footer__sitemap-branch {
    width: 188px;
    margin-left: 18px;
    margin-right: 18px;
}
.ytv-footer__sitemap-branch-title {
    line-height: 1.55556;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.ytv-footer__sitemap-branch .ytv-footer__link {
    margin-bottom: 28px;
}
.ytv-footer__sitemap-branch .ytv-footer__link {
    margin-bottom: 20px;
}
.ytv-footer__link {
    line-height: 1.57143;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255,255,255,.62);
	color: #3ea6ff;
    display: block;
    text-decoration: none;
}
.ytv-footer__link--more:hover {
    color: white;
}
a {
    background-color: transparent;
}
a {
    color: #065fd4;
}
.float-left-logo{
    margin-left: -100px;
    margin-top: 5px;
    font-family: 'Hanuman', serif;
}
.float-left-logo svg{
    margin-left: -50px;
    margin-top: 5px;
}
.ytv-footer__sitemap-branch a{
    margin-left: -3px;
}
.ytv-footer__language {
    position: relative;
    margin-top: 30px;
}
.ytv-footer__language i{
    float: right;
}
.ytv-footer__language-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-radius: 0;
    color: rgba(255,255,255,.62);
    display: inline-block;
    font-size: 14px;
    letter-spacing: .25px;
    padding: 0 20px 5px 0;
    width: 100%;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.footer-last-menu a{
    display: inline-block;
    margin-top: 30px;
}
.float-left-logo span{
    font-size: 20px;
}
.footer-p-ing1{
    padding: 4px;
}
.footer-p-ing2{
    padding: 4px;
}
.footer-p-ing3{
    padding: 4px;
}
.footer-p-ing4{
    padding: 4px;
}


